{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight"
             style="background-image:url({% static 'images/xbg_1.jpg.pagespeed.ic.7wX3e-PeJV.jpg' %})"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Contact us</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>About <i
                            class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Contact Information</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
                <div class="col-md-3">
                    <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
                <div class="col-md-3">
                    <p><span>Email:</span> <a
                            href="https://preview.colorlib.com/cdn-cgi/l/email-protection#5a33343c351a23352f2829332e3f74393537"><span
                            class="__cf_email__" data-cfemail="a6cfc8c0c9e6dfc9d3d4d5cfd2c388c5c9cb">[email&#160;protected]</span></a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
            </div>
            <div class="row block-9 no-gutters">
                <div class="col-lg-6 order-md-last d-flex">
                    <form method="post" action="#" class="bg-light p-4 p-md-5 contact-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
